{% extends "layouts/base.html" %}
{% block main %}
     <main style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ul>
            <li hx-get="{{ url_for('idle') }}"
                hx-target="body"
                hx-swap="outerHTML"
                class="text-link">
                <h1>Modo Normal</h1>
            </li>
            <li><h1>Modo Festa</h1></li>
            <li hx-delete="{{ url_for('reset') }}"
                hx-swap="none"    
                class="text-link">
                <h1>Limpar Dados</h1>
            </li>
        </ul>
    </main>
{% endblock %}