{% extends "layouts/base.html" %}

{% block main %}
<main class="gameover-container"
      hx-get="{{ url_for('idle') }}"
      hx-trigger="load delay:20s"
      hx-swap="outerHTML">

    <h1>FIM DE JOGO</h1>
    
    <div class="final-score">
        <span>SUA PONTUAÇÃO</span>
        <p>{{ pontuacao }}</p>
    </div>

    <form hx-post="{{ url_for('score_post') }}" class="score-form">
        <p>Entre no ranking e ganhe prêmios!</p>
        <input type="hidden" name="pontuacao" value="{{ pontuacao }}">
        <input type="text" name="nome" placeholder="SEU NOME" class="retro-input" required>
        <input type="text" name="cpf" placeholder="___.___.___-__" class="retro-input">
        <button type="submit" class="retro-button">SALVAR</button>
    </form>
    
    <button class="text-link"
            hx-get="{{ url_for('idle') }}"
            hx-target="body"
            hx-swap="outerHTML">
            Não, obrigado.
    </button>
</main>
{% endblock %}