<main style="flex-grow: 1; display: flex; flex-direction: column;">
    <style>
        .ranking-list {
            padding-left: 0;
            list-style-position: inside;
        }

        .ranking-list li {
            padding: 0.5rem 0;
            border-bottom: 1px solid #444;
        }
        
        .ranking-list ::marker{
            color: yellow;
        }
    </style>

    <div>
        <h1 style="text-align: center;">SOCO FORTE</h1>
        <h1 style="text-align: center;">Crédito: 50 REAIS</h1>
        <h2 style="text-align: center;">5 reais por jogo</h2>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: space-evenly; flex-grow: 1; align-items: center;">    
        <div>
            <h1 style="text-align: center; margin-bottom: 0.5rem;">Top Scores</h1>
            <div class="top-scores">
                <div class="score-item" style="font-size: 5vh;">
                    <span><span style="color: yellow;">1.</span> JP 9999</span>
                </div>
                <div class="score-item" style="font-size: 4.5vh;">
                    <span><span style="color: rgb(146, 146, 146);">2.</span> Rafael 9500</span>
                </div>
                <div class="score-item" style="font-size: 4vh;">
                    <span><span style="color: rgb(146, 74, 38);">3.</span> Ryan 8999</span>
                </div>
            </div>
        </div>

        <div> 
            <div style="font-size: 4vh; text-align: center;">Ranking</div>
            <ol class="ranking-list" start="4">
                <li>
                    <span>JP</span>
                    <span style="color: red; text-align: end;">9999</span>
                </li>
                <li>
                    <span>Rafael</span>
                    <span style="color: red;">9975</span>
                </li>
                <li>
                    <span>Ryan</span>
                    <span style="color: red;">8999</span>
                </li>
                <li>
                    <span>Kaiky</span>
                    <span style="color: red;">8712</span>
                </li>
                <li>
                    <span>Kim</span>
                    <span style="color: red;">7872</span>
                </li>
                <li>
                    <span>Carneiro</span>
                    <span style="color: red;">7871</span>
                </li>
                <li>
                    <span>Gustavo</span>
                    <span style="color: red;">7534</span>
                </li>
                <li>
                    <span>Vitor</span>
                    <span style="color: red;">7466</span>
                </li>
                <li>
                    <span>Labbe</span>
                    <span style="color: red;">6589</span>
                </li>
            </ol>
        </div>
    </div>
</main>